<!DOCTYPE html>

{% extends 'layout.html' %}

{% block body %}

 <h3>Uploaded Files</h3>
 <script type = 'text/javascript'>
    window.onload = function (){
      var x = document.getElementById("files");
      x.style = "color : white";
    }

    function change_color(){
        var x = document.getElementById("spin");
        x.style = "color : lightblue"
    }

 </script>
  

 <form id = "upload_form" action="{{ url_for('files')}}" method = "POST" enctype="multipart/form-data">
    <input type="file" name="file" multiple>
    <input type="submit" value="Upload">
 </form>

 <small>Hi {{name}}, here are your uploaded files:</small>
 <table class = 'table table-light'>
     <tr>
        <th>Filename</th>
        <th>User</th>
        <th>Date</th>
        <th></th>
     </tr>
     {% for file in files %}
        <tr>
            <td align = 'left'><i>{{file.filename}}</i></td>
            <td align = 'left'>{{file.USER}}</td>
            <td align = 'left'>{{file.createdon}}</td>
            <td><a href='optimizer/{{file.filename}}' id = 'btnopt' onclick = "change_color()">Optimize</a>
                <i class="fa fa-circle-o-notch fa-spin" style = "color: white" id = "spin"></i>
            </td>
            <td><a href='delete_upload/{{file.filename}}'>Delete</a></td>
            <td></td>
        </tr>

     {% endfor %}


 </table>
 

{% endblock %}
